<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cfms.dashboard.mapper.DashboardADMapper">

	<select id="selectTodayInOut" resultType="TodayInOutDTO">
		/*DashboardADMapper.selectTodayInOut*/
		/*오늘의 입/출고 현황*/
		SELECT
			-- 오늘의 전체 입고신청 건수
			(SELECT
				 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
		  	 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
				   WHERE use_yn = 'Y'
				   GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
		     AND im.in_ord_dt = a.now_dt
		     AND im.in_stats IN ('IN00' , 'IN01')) AS 'today_in_apply'
		    ,
 		    -- 오늘의 전체 입고완료 건수
			(SELECT
				 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku
				   FROM cwt_in_ord_dtl
				   WHERE use_yn = 'Y'
				   GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
			 AND im.in_ord_dt = a.now_dt
			 AND im.in_stats IN ('IN04')) AS 'today_in_complete'
			,
 			-- 오늘의 전체 출고신청 건수
			(SELECT
				 IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
					  		ioi.mst_id,
					  		SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
				  		FROM cwt_out_info AS ioi
					    LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y'
											   AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
												    AND invc_no IS NOT NULL
												    AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y'
				  		GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1 AND om.use_yn = 'Y'
		     AND om.out_stats IN ('OS01')
		     AND om.out_ord_dt = a.now_dt) AS 'today_out_apply'
		    ,
 		    -- 오늘의 전체 출고완료 건수
			(SELECT
				 IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
						  ioi.mst_id,
						  SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
					 	FROM cwt_out_info AS ioi
					    LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
									     FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y'
											   AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
												    WHERE 1 = 1 AND use_yn = 'Y'
												    AND invc_no IS NOT NULL
												    AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
					    WHERE ioi.use_yn = 'Y'
					 	GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1 AND om.use_yn = 'Y'
		     AND om.out_stats IN ('OS05')
		     AND om.out_ord_dt = a.now_dt) AS 'today_out_complete'
		FROM
			(SELECT DATE_FORMAT(NOW(), '%Y-%m-%d') AS now_dt) AS a;
	</select>

	<select id="selectSLCenterNameAll" resultType="CenterIdNameDTO">
		/*DashboardADMapper.selectSLCenterNameAll*/
		/*셀러 업체명 전체 조회*/
		SELECT id, center_nm FROM cwt_mst_center
		WHERE center_type_cd = 'SL'
		  AND center_nm IS NOT NULL
		  AND center_nm != ''
          AND use_yn = 'Y'
		ORDER BY center_nm;
	</select>
	<select id="selectWHCenterNameAll" resultType="CenterIdNameDTO">
		/*DashboardADMapper.selectWHCenterNameAll*/
		/*창고 업체명 전체 조회*/
		SELECT id, center_nm FROM cwt_mst_center
		WHERE center_type_cd = 'WH'
	      AND center_nm IS NOT NULL
	      AND center_nm != ''
          AND use_yn = 'Y'
		ORDER BY center_nm;

	</select>
	<select id="selectWHCenterNameBySLCenterId" parameterType="long" resultType="CenterIdNameDTO">
		/*DashboardADMapper.selectWHCenterNameBySLCenterId*/
		/*custId로 연결된 창고명 전체 조회*/
		SELECT id, center_nm FROM cwt_mst_center c
	    JOIN (SELECT wh_id FROM cwt_rel_wh_cust
	  	      WHERE cust_id =#{id}
			    and use_yn ='Y' and rel_stats ='CN') AS r
	    ON c.id = r.wh_id;
	</select>
	<select id="selectSLCenterNameByWHCenterId" parameterType="long" resultType="CenterIdNameDTO">
		/*DashboardADMapper.selectSLCenterNameByWHCenterId*/
		/*whId로 연결된 셀러 업체명 전체 조회*/
		SELECT id, center_nm FROM cwt_mst_center c
		JOIN (SELECT cust_id FROM cwt_rel_wh_cust
			  WHERE wh_id =#{id}
			    and use_yn ='Y' and rel_stats ='CN') AS r
		ON c.id = r.cust_id;
	</select>

	<select id="selectInOutStatus" parameterType="InOutSearchDTO" resultType="InOutResultDTO">
		/*DashboardADMapper.selectInOutStatus*/
		/*날짜별 전체 입/출고 현황*/
		SELECT
			 (SELECT
				 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
			       WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
		     WHERE 1 = 1 AND im.use_yn = 'Y'
			   AND im.in_stats IN ('IN00' , 'IN01')
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_tobe
			,
			(SELECT
			 	 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
				   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
		  	   AND im.in_stats ='IN02'
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_working
			,
			(SELECT
			 	 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
		 		   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
			   AND im.in_stats ='IN04'
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_complete
			,
			(SELECT
				 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT  mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
			 	   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1  AND im.use_yn = 'Y'
			   AND im.in_stats ='IN99'
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_cancle
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
			 				ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		       AND om.use_yn = 'Y'
		       AND om.out_stats ='OS01'
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_tobe
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn = 'Y'
		 	   AND om.out_stats IN ('OS02' , 'OS03', 'OS04', 'OSR4')
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_working
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
			 			FROM cwt_out_info AS ioi
			 			LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn ='Y'
		 	   AND om.out_stats ='OS05'
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_complete
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn = 'Y'
		  	   AND om.out_stats ='OS99'
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_cancle
		FROM
			(SELECT
				#{inOutSearchDTO.fromDate} AS from_dt,
				#{inOutSearchDTO.toDate} AS to_dt
			) AS a;
	</select>
	<select id="selectInOutStatusBySL" parameterType="InOutSearchDTO" resultType="InOutResultDTO">
		/*DashboardADMapper.selectInOutStatusBySL*/
		/*날짜, 셀러별 입/출고 현황*/
		SELECT
			 (SELECT
				 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
			       WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
		     WHERE 1 = 1 AND im.use_yn = 'Y'
			   AND im.in_stats IN ('IN00' , 'IN01')
		   	   AND im.cust_id = a.cust_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_tobe
			,
			(SELECT
			 	 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
				   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
		  	   AND im.in_stats ='IN02'
		       AND im.cust_id = a.cust_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_working
			,
			(SELECT
			 	 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
		 		   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
			   AND im.in_stats ='IN04'
			   AND im.cust_id = a.cust_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_complete
			,
			(SELECT
				 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT  mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
			 	   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1  AND im.use_yn = 'Y'
			   AND im.in_stats ='IN99'
		       AND im.cust_id = a.cust_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_cancle
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
			 				ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		       AND om.use_yn = 'Y'
		       AND om.out_stats ='OS01'
			   AND om.cust_id = a.cust_id
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_tobe
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn = 'Y'
		 	   AND om.out_stats IN ('OS02' , 'OS03', 'OS04', 'OSR4')
			   AND om.cust_id = a.cust_id
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_working
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
			 			FROM cwt_out_info AS ioi
			 			LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn = 'Y'
		 	   AND om.out_stats ='OS05'
			   AND om.cust_id = a.cust_id
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_complete
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn = 'Y'
		  	   AND om.out_stats ='OS99'
		 	   AND om.cust_id = a.cust_id
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_cancle
		FROM
			(SELECT
				#{inOutSearchDTO.custId} AS cust_id,
				#{inOutSearchDTO.fromDate} AS from_dt,
				#{inOutSearchDTO.toDate} AS to_dt
			) AS a;
	</select>
	<select id="selectInOutStatusByWH" parameterType="InOutSearchDTO" resultType="InOutResultDTO">
		/*DashboardADMapper.selectInOutStatusByWH*/
		/*날짜별 창고별 입/출고 현황*/
		SELECT
			 (SELECT
				 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
			       WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
		     WHERE 1 = 1 AND im.use_yn = 'Y'
			   AND im.in_stats IN ('IN00' , 'IN01')
			   AND im.wh_id = a.wh_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_tobe
			,
			(SELECT
			 	 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
				   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
		  	   AND im.in_stats ='IN02'
			   AND im.wh_id = a.wh_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_working
			,
			(SELECT
			 	 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
		 		   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
			   AND im.in_stats ='IN04'
			   AND im.wh_id = a.wh_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_complete
			,
			(SELECT
				 CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT  mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
			 	   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1  AND im.use_yn = 'Y'
			   AND im.in_stats IN ('IN99')
			   AND im.wh_id = a.wh_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_cancle
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
			 				ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' AND ioi.wh_id =#{inOutSearchDTO.whId} GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		       AND om.use_yn = 'Y'
		       AND om.out_stats ='OS01'
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_tobe
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' AND ioi.wh_id =#{inOutSearchDTO.whId} GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn = 'Y'
		 	   AND om.out_stats IN ('OS02' , 'OS03', 'OS04', 'OSR4')
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_working
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
			 			FROM cwt_out_info AS ioi
			 			LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' AND ioi.wh_id =#{inOutSearchDTO.whId} GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn = 'Y'
		 	   AND om.out_stats ='OS05'
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_complete
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													AND invc_no IS NOT NULL AND invc_no != '') e ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' AND ioi.wh_id =#{inOutSearchDTO.whId} GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
		  	   AND om.use_yn = 'Y'
		  	   AND om.out_stats ='OS99'
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_cancle
		FROM
			(SELECT
				#{inOutSearchDTO.whId} AS wh_id,
				#{inOutSearchDTO.fromDate} AS from_dt,
				#{inOutSearchDTO.toDate} AS to_dt
			) AS a;
	</select>
	<select id="selectInOutStatusByWHAndSL" parameterType="InOutSearchDTO" resultType="InOutResultDTO">
		/*DashboardADMapper.selectInOutStatusByWHAndSL*/
		/*날짜, 창고, 셀러별 입/출고 현황*/
		SELECT
			 (SELECT
				CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
		      FROM cwt_in_ord_mst AS im
			  JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
					WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			  WHERE 1 = 1 AND im.use_yn = 'Y'
		 	    AND im.in_stats IN ('IN00' , 'IN01')
		        AND im.cust_id = a.cust_id
		 	    AND im.wh_id = a.wh_id
				AND a.to_dt >= im.in_ord_dt
				AND im.in_ord_dt >= a.from_dt) AS in_tobe
			,
			(SELECT
				CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
		     FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
				   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
			   AND im.in_stats ='IN02'
			   AND im.cust_id = a.cust_id
		       AND im.wh_id = a.wh_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_working
			,
			(SELECT
				CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
			  	   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1 AND im.use_yn = 'Y'
			   AND im.in_stats ='IN04'
			   AND im.cust_id = a.cust_id
			   AND im.wh_id = a.wh_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_complete
			,
			(SELECT
				CONCAT(IFNULL(COUNT(im.id), 0), '/', IFNULL(SUM(id.count_sku), 0))
			 FROM cwt_in_ord_mst AS im
			 JOIN (SELECT  mst_id, COUNT(id) AS count_sku FROM cwt_in_ord_dtl
				   WHERE use_yn = 'Y' GROUP BY mst_id) AS id ON id.mst_id = im.id
			 WHERE 1 = 1  AND im.use_yn = 'Y'
		  	   AND im.in_stats ='IN99'
			   AND im.cust_id = a.cust_id
		 	   AND im.wh_id = a.wh_id
			   AND a.to_dt >= im.in_ord_dt
			   AND im.in_ord_dt >= a.from_dt) AS in_cancle
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			FROM cwt_out_ord_mst AS om
			LEFT JOIN (SELECT
						ioi.mst_id,
						SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
					   FROM cwt_out_info AS ioi
					   LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								  FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										FROM (SELECT * FROM cwt_rel_info_invc
											  WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
					   					LEFT JOIN (SELECT * FROM cwt_out_invc
												   WHERE 1 = 1 AND use_yn = 'Y'
												     AND invc_no IS NOT NULL AND invc_no != '') e
									    ON e.id = d.invc_id) bb
							      GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' AND ioi.wh_id =#{inOutSearchDTO.whId} GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			WHERE 1 = 1
		      AND om.use_yn = 'Y'
		      AND om.out_stats ='OS01'
			  AND om.cust_id = a.cust_id
			  AND a.to_dt >= om.out_ord_dt
			  AND om.out_ord_dt >= a.from_dt) AS out_tobe
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e
										ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' AND ioi.wh_id =#{inOutSearchDTO.whId} GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
			   AND om.use_yn = 'Y'
		  	   AND om.out_stats IN ('OS02' , 'OS03', 'OS04', 'OSR4')
			   AND om.cust_id = a.cust_id
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_working
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e
										 ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' AND ioi.wh_id =#{inOutSearchDTO.whId} GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
			   AND om.use_yn = 'Y'
		  	   AND om.out_stats ='OS05'
			   AND om.cust_id = a.cust_id
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_complete
			,
			(SELECT
				IFNULL(SUM(oi.count_info_invc), 0)
			 FROM cwt_out_ord_mst AS om
			 LEFT JOIN (SELECT
							ioi.mst_id,
							SUM(IFNULL(oiic.info_invc_count, 1)) AS count_info_invc
						FROM cwt_out_info AS ioi
						LEFT JOIN (SELECT bb.info_id, COUNT(bb.invc_no) AS info_invc_count
								   FROM (SELECT DISTINCT d.info_id, e.invc_no, e.parcel_cd
										 FROM (SELECT * FROM cwt_rel_info_invc
											   WHERE 1 = 1 AND use_yn = 'Y' AND rel_stats = 'CN') d
										 LEFT JOIN (SELECT * FROM cwt_out_invc
													WHERE 1 = 1 AND use_yn = 'Y'
													  AND invc_no IS NOT NULL AND invc_no != '') e
										 ON e.id = d.invc_id) bb
								   GROUP BY bb.info_id) AS oiic ON oiic.info_id = ioi.id
						WHERE ioi.use_yn = 'Y' AND ioi.wh_id =#{inOutSearchDTO.whId} GROUP BY ioi.mst_id) AS oi ON oi.mst_id = om.id
			 WHERE 1 = 1
			   AND om.use_yn = 'Y'
		  	   AND om.out_stats ='OS99'
			   AND om.cust_id = a.cust_id
			   AND a.to_dt >= om.out_ord_dt
			   AND om.out_ord_dt >= a.from_dt) AS out_cancle
		FROM
			(SELECT
				#{inOutSearchDTO.whId} AS wh_id,
				#{inOutSearchDTO.custId} AS cust_id,
				#{inOutSearchDTO.fromDate} AS from_dt,
				#{inOutSearchDTO.toDate} AS to_dt
			) AS a;
	</select>

	<select id="selectStockLackAll" resultType="StockLackResultDTO">
	/*DashboardADMapper.selectStockLackAll*/
	/*전체 재고 부족 / 결품 현황*/
		select * from
			(select
				 max(d.goods_cd) as goods_cd
				  ,max(d.goods_nm) as goods_nm
				  ,sum(d.in_ord_qty_cnf)-sum(d.out_qty) as stk_qty
				  ,0 as miss_qty
				  ,dd.in_stk_qty as in_stk_qty
				  ,sum(d.in_ord_qty_cnf)-sum(d.out_qty)-max(d.safe_stk_qty) as ex_count
				  ,ifnull(max(d.in_ord_dt),'입고이력 없음') as last_in_ord_dt
				  ,max(d.safe_stk_qty) as safe_stk_qty
			 from
				 (select
					  a.id as ord_id
					   ,(select center_nm from cwt_mst_center where id = (select wh_id from cwt_in_ord_mst where id = a.mst_id) ) as wh_nm
					   ,a.in_ord_dtl_no as in_ord_dtl_no
					   ,b.id as goods_id
					   ,b.goods_cd as goods_cd
					   ,b.goods_nm as goods_nm
					   ,b.safe_stk_qty as safe_stk_qty
					   ,ifnull(a.in_ord_qty_cnf,0) as in_ord_qty_cnf
					   ,a.item_check_code as item_check_code
					   ,a.check_memo as check_memo
					   ,a.in_ord_date_cnf as in_ord_date_cnf
					   ,a.exp_dt as exp_dt
					   ,a.in_ord_dt
					   ,(select ifnull(sum(out_qty),0)
						 from cwt_rel_in_out
						 where 1=1
						   and in_id = a.id
						   and use_yn ='Y'
						   and DATE_FORMAT(now(),'%Y-%m-%d') >= DATE_FORMAT(reg_date,'%Y-%m-%d')) out_qty
				  from (select * from cwt_mst_goods where 1=1 and use_yn ='Y') b
						   left join (select a.* , b.in_ord_dt
									  from cwt_in_ord_dtl a
											   join cwt_in_ord_mst b
													on b.id = a.mst_id and b.use_yn='Y'
									  where 1 = 1 and a.use_yn ='Y'
										and b.in_stats = 'IN04'
										and a.in_stats not in ('INCAN')
										and a.item_check_code not in ('UNC')
										and a.in_approval_stats_cd in ('RQ2', 'AV1', 'AV2')
										and DATE_FORMAT(now(),'%Y-%m-%d') >= DATE_FORMAT(a.in_ord_date_cnf,'%Y-%m-%d')) a
									 on a.goods_id = b.id where 1=1) d
					 left join (select
									bb.goods_cd
									 ,ifnull(aa.in_ord_qty_cnf,0) as in_stk_qty
								from (select * from cwt_mst_goods
									  where 1=1 and use_yn ='Y') bb
										 left join (select aa.* , bb.in_ord_dt
													from cwt_in_ord_dtl aa
															 join cwt_in_ord_mst bb
																  on bb.id = aa.mst_id and bb.use_yn='Y'
													where 1 = 1 and aa.use_yn ='Y'
													  and bb.in_stats in ('IN01', 'IN02', 'IN04')
													  and aa.in_stats != 'INCAN'
											 and aa.item_check_code != 'UNC'
											 and aa.in_ord_date_cnf is null) aa
												   on aa.goods_id = bb.id) dd
							   on d.goods_cd = dd.goods_cd
			 group by d.goods_cd) e
		where 1 > e.ex_count
		order by 6 asc
		limit 100;
	</select>
	<select id="selectStockLackBySL" parameterType="InOutSearchDTO" resultType="StockLackResultDTO">
	/*DashboardADMapper.selectStockLackBySL*/
	/*셀러별 재고 부족 / 결품 현황*/
		select * from
			(select
				 max(d.goods_cd) as goods_cd
				  ,max(d.goods_nm) as goods_nm
				  ,sum(d.in_ord_qty_cnf)-sum(d.out_qty) as stk_qty
				  ,0 as miss_qty
				  ,dd.in_stk_qty as in_stk_qty
				  ,sum(d.in_ord_qty_cnf)-sum(d.out_qty)-max(d.safe_stk_qty) as ex_count
				  ,ifnull(max(d.in_ord_dt),'입고이력 없음') as last_in_ord_dt
				  ,max(d.safe_stk_qty) as safe_stk_qty
			 from
				 (
					 select
						 a.id as ord_id
						  ,(select center_nm from cwt_mst_center where id = (select wh_id from cwt_in_ord_mst where id = a.mst_id) ) as wh_nm
						  ,a.in_ord_dtl_no as in_ord_dtl_no
						  ,b.id as goods_id
						  ,b.goods_cd as goods_cd
						  ,b.goods_nm as goods_nm
						  ,b.safe_stk_qty as safe_stk_qty
						  ,ifnull(a.in_ord_qty_cnf,0) as in_ord_qty_cnf
						  ,a.item_check_code as item_check_code
						  ,a.check_memo as check_memo
						  ,a.in_ord_date_cnf as in_ord_date_cnf
						  ,a.exp_dt as exp_dt
						  ,a.in_ord_dt
						  ,(select ifnull(sum(out_qty),0)
							from cwt_rel_in_out
							where 1=1
							  and in_id = a.id
							  and use_yn ='Y'
							  and DATE_FORMAT(now(),'%Y-%m-%d') >= DATE_FORMAT(reg_date,'%Y-%m-%d')) out_qty
					 from (select * from cwt_mst_goods
						   where 1=1 and use_yn ='Y'
							 and cust_id = #{inOutSearchDTO.custId}
						  ) b
							  left join (select a.* , b.in_ord_dt
										 from cwt_in_ord_dtl a
												  join cwt_in_ord_mst b
													   on b.id = a.mst_id and b.use_yn='Y'
										 where 1 = 1 and a.use_yn ='Y'
										   and b.in_stats = 'IN04'
										   and a.in_stats not in ('INCAN')
										   and a.item_check_code not in ('UNC')
										   and a.in_approval_stats_cd in ('RQ2', 'AV1', 'AV2')
										   and DATE_FORMAT(now(),'%Y-%m-%d') >= DATE_FORMAT(a.in_ord_date_cnf,'%Y-%m-%d')) a
										on a.goods_id = b.id
					 where 1=1) d
					 left join (select
									bb.goods_cd
									 ,ifnull(aa.in_ord_qty_cnf,0) as in_stk_qty
								from (select * from cwt_mst_goods
									  where 1=1 and use_yn ='Y'
										and cust_id = #{inOutSearchDTO.custId}
									 ) bb
										 left join (select aa.* , bb.in_ord_dt
													from cwt_in_ord_dtl aa
															 join cwt_in_ord_mst bb
																  on bb.id = aa.mst_id and bb.use_yn='Y'
													where 1 = 1 and aa.use_yn ='Y'
													  and bb.in_stats in ('IN01', 'IN02', 'IN04')
													  and aa.in_stats != 'INCAN'
									 and aa.item_check_code != 'UNC'
									 and aa.in_ord_date_cnf is null
								) aa

												   on aa.goods_id = bb.id) dd
							   on d.goods_cd = dd.goods_cd
			 group by d.goods_cd) e
		where 1 > e.ex_count
		order by 6 asc;
	</select>
	<select id="selectStockLackByWH" parameterType="InOutSearchDTO" resultType="StockLackResultDTO">
	/*DashboardADMapper.selectStockLackBySL*/
	/*창고별 재고 부족 / 결품 현황*/
		select * from
			(select
				 max(d.goods_cd) as goods_cd
				  ,max(d.goods_nm) as goods_nm
				  ,sum(d.in_ord_qty_cnf)-sum(d.out_qty) as stk_qty
				  ,0 as miss_qty
				  ,dd.in_stk_qty as in_stk_qty
				  ,sum(d.in_ord_qty_cnf)-sum(d.out_qty)-max(d.safe_stk_qty) as ex_count
				  ,ifnull(max(d.in_ord_dt),'입고이력 없음') as last_in_ord_dt
				  ,max(d.safe_stk_qty) as safe_stk_qty
			 from
				 (
					 select
						 a.id as ord_id
						  ,(select center_nm from cwt_mst_center where id = (select wh_id from cwt_in_ord_mst where id = a.mst_id) ) as wh_nm
						  ,a.in_ord_dtl_no as in_ord_dtl_no
						  ,b.id as goods_id
						  ,b.goods_cd as goods_cd
						  ,b.goods_nm as goods_nm
						  ,b.safe_stk_qty as safe_stk_qty
						  ,ifnull(a.in_ord_qty_cnf,0) as in_ord_qty_cnf
						  ,a.item_check_code as item_check_code
						  ,a.check_memo as check_memo
						  ,a.in_ord_date_cnf as in_ord_date_cnf
						  ,a.exp_dt as exp_dt
						  ,a.in_ord_dt
						  ,(select ifnull(sum(out_qty),0)
							from cwt_rel_in_out
							where 1=1
							  and in_id = a.id
							  and use_yn ='Y'
							  and DATE_FORMAT(now(),'%Y-%m-%d') >= DATE_FORMAT(reg_date,'%Y-%m-%d')) out_qty
					 from (select * from cwt_mst_goods
						   where 1=1 and use_yn ='Y'
						  ) b
							  left join (select a.* , b.in_ord_dt
										 from cwt_in_ord_dtl a
												  join cwt_in_ord_mst b
													   on b.id = a.mst_id and b.use_yn='Y'
										 where 1 = 1 and a.use_yn ='Y'
										   and b.in_stats = 'IN04'
										   and a.in_stats not in ('INCAN')
										   and a.item_check_code not in ('UNC')
										   and a.in_approval_stats_cd in ('RQ2', 'AV1', 'AV2')
										   and b.wh_id =#{inOutSearchDTO.whId}
										   and DATE_FORMAT(now(),'%Y-%m-%d') >= DATE_FORMAT(a.in_ord_date_cnf,'%Y-%m-%d')) a
										on a.goods_id = b.id
					 where 1=1) d
					 left join (select
									bb.goods_cd
									 ,ifnull(aa.in_ord_qty_cnf,0) as in_stk_qty
								from (select * from cwt_mst_goods
									  where 1=1 and use_yn ='Y'
									 ) bb
										 left join (select aa.* , bb.in_ord_dt
													from cwt_in_ord_dtl aa
															 join cwt_in_ord_mst bb
																  on bb.id = aa.mst_id and bb.use_yn='Y'
													where 1 = 1 and aa.use_yn ='Y'
													  and bb.in_stats in ('IN01', 'IN02', 'IN04')
													  and aa.in_stats != 'INCAN'
									 and aa.item_check_code != 'UNC'
									 and aa.in_ord_date_cnf is null
									 and bb.wh_id =#{inOutSearchDTO.whId}
								) aa

												   on aa.goods_id = bb.id) dd
							   on d.goods_cd = dd.goods_cd
			 group by d.goods_cd) e
		where 1 > e.ex_count
		order by 6 asc;
	</select>
	<select id="selectStockLackByWHAndSL" parameterType="InOutSearchDTO" resultType="StockLackResultDTO">
	/*DashboardADMapper.selectStockLackBySL*/
	/*창고,셀러별 재고 부족 / 결품 현황*/
		select * from
			(select
				 max(d.goods_cd) as goods_cd
				  ,max(d.goods_nm) as goods_nm
				  ,sum(d.in_ord_qty_cnf)-sum(d.out_qty) as stk_qty
				  ,0 as miss_qty
				  ,dd.in_stk_qty as in_stk_qty
				  ,sum(d.in_ord_qty_cnf)-sum(d.out_qty)-max(d.safe_stk_qty) as ex_count
				  ,ifnull(max(d.in_ord_dt),'입고이력 없음') as last_in_ord_dt
				  ,max(d.safe_stk_qty) as safe_stk_qty
			 from
				 (
					 select
						 a.id as ord_id
						  ,(select center_nm from cwt_mst_center where id = (select wh_id from cwt_in_ord_mst where id = a.mst_id) ) as wh_nm
						  ,a.in_ord_dtl_no as in_ord_dtl_no
						  ,b.id as goods_id
						  ,b.goods_cd as goods_cd
						  ,b.goods_nm as goods_nm
						  ,b.safe_stk_qty as safe_stk_qty
						  ,ifnull(a.in_ord_qty_cnf,0) as in_ord_qty_cnf
						  ,a.item_check_code as item_check_code
						  ,a.check_memo as check_memo
						  ,a.in_ord_date_cnf as in_ord_date_cnf
						  ,a.exp_dt as exp_dt
						  ,a.in_ord_dt
						  ,(select ifnull(sum(out_qty),0)
							from cwt_rel_in_out
							where 1=1
							  and in_id = a.id
							  and use_yn ='Y'
							  and DATE_FORMAT(now(),'%Y-%m-%d') >= DATE_FORMAT(reg_date,'%Y-%m-%d')) out_qty
					 from (select * from cwt_mst_goods
						   where 1=1 and use_yn ='Y'
							 and cust_id = #{inOutSearchDTO.custId}
						  ) b
							  left join (select a.* , b.in_ord_dt
										 from cwt_in_ord_dtl a
												  join cwt_in_ord_mst b
													   on b.id = a.mst_id and b.use_yn='Y'
										 where 1 = 1 and a.use_yn ='Y'
										   and b.in_stats = 'IN04'
										   and a.in_stats not in ('INCAN')
										   and a.item_check_code not in ('UNC')
										   and a.in_approval_stats_cd in ('RQ2', 'AV1', 'AV2')
										   and b.wh_id =#{inOutSearchDTO.whId}
										   and DATE_FORMAT(now(),'%Y-%m-%d') >= DATE_FORMAT(a.in_ord_date_cnf,'%Y-%m-%d')) a
										on a.goods_id = b.id
					 where 1=1) d
					 left join (select
									bb.goods_cd
									 ,ifnull(aa.in_ord_qty_cnf,0) as in_stk_qty
								from (select * from cwt_mst_goods
									  where 1=1 and use_yn ='Y'
										and cust_id = #{inOutSearchDTO.custId}
									 ) bb
										 left join (select aa.* , bb.in_ord_dt
													from cwt_in_ord_dtl aa
															 join cwt_in_ord_mst bb
																  on bb.id = aa.mst_id and bb.use_yn='Y'
													where 1 = 1 and aa.use_yn ='Y'
													  and bb.in_stats in ('IN01', 'IN02', 'IN04')
													  and aa.in_stats != 'INCAN'
									 and aa.item_check_code != 'UNC'
									 and aa.in_ord_date_cnf is null
									 and bb.wh_id =#{inOutSearchDTO.whId}
								) aa

												   on aa.goods_id = bb.id) dd
							   on d.goods_cd = dd.goods_cd
			 group by d.goods_cd) e
		where 1 > e.ex_count
		order by 6 asc;
	</select>
</mapper>