<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cfms.dashboard.mapper.NotificationMapper">
    <select id="selectNewInfoId" parameterType="AdNotificationVO" resultType="Long">
        select ni.id
        from cwt_notification_info as ni
                 left join (select id, info_id from cwt_ad_notification
                            where ad_mid = #{adNotificationVO.adMid}) as an
                           on ni.id = an.info_id
        where an.info_id is null;
    </select>

    <insert id="insertNewInfo" parameterType="AdNotificationVO">
        insert into cwt_ad_notification
            (info_id, ad_mid, read_yn)
        values
            (#{adNotificationVO.infoId}, #{adNotificationVO.adMid}, 'N');
    </insert>
</mapper>
