<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cfms.dashboard.mapper.NotificationMapper">
    <select id="selectUnFinishedOut" resultType="UnFinishedResultDTO">
        select
        aaa.custId as custId,
        (select center_nm from cwt_mst_center
        where id =aaa.custId) as centerNm
        ,
        aaa.countUnOut as countUnFinishedOut,
        aaa.outOrdDt as outOrdDt
        from
        (select
        om.cust_id as custId,
        count(oi.id) as countUnOut,
        om.out_ord_dt as outOrdDt
        from cwt_out_info as oi
        join cwt_out_ord_mst as om
        on oi.mst_id = om.id
        where om.use_yn ='Y' and oi.use_yn ='Y'
        and om.out_type !='OTAD'
        and now() > om.out_ord_dt
        and om.out_stats !='OS05'
        and om.out_stats !='OS99'
        group by om.cust_id, outOrdDt
        order by outOrdDt asc) as aaa;
    </select>

    <select id="selectTodayUnFinishedOutCheck" resultType="Integer">
        select count(id) from cwt_notification_info
        where type_cd ='UFOT'
          and create_dt = date_format(now(), '%Y-%m-%d');
    </select>

    <insert id="insertUnFinishedOutNotificationInfo" parameterType="NotificationInfoVO">
        /*TestInsertMapper.insertInOrdNotificationInfo*/
        insert cwt_notification_info
			(
				cust_id,
				type_cd,
				content,
				create_dt,
				reg_date,
				mod_date
			)
			values
			(
                #{notificationInfoVO.custId},
                #{notificationInfoVO.typeCd},
                #{notificationInfoVO.content},
                now(),
                now(),
                now()
            )
    </insert>

    <select id="selectNewInfoId" parameterType="AdNotificationVO" resultType="Long">
        select ni.id
        from cwt_notification_info as ni
                 left join (select id, info_id from cwt_ad_notification
                            where ad_mid = #{adNotificationVO.adMid}) as an
                           on ni.id = an.info_id
        where an.info_id is null;
    </select>

    <insert id="insertNewInfo" parameterType="AdNotificationVO">
        insert into cwt_ad_notification
            (info_id, ad_mid, read_yn)
        values
            (#{adNotificationVO.infoId}, #{adNotificationVO.adMid}, 'N');
    </insert>

    <select id="selectIsReadNotification" parameterType="AdNotificationVO" resultType="Integer">
        select ifnull(count(read_yn),0) from cwt_ad_notification
        where read_yn = 'N'
          and ad_mid =#{adNotificationVO.adMid};
    </select>

    <select id="selectIsReadNotificationByTypeCd" parameterType="AdNotificationVO" resultType="NotificationResultDTO">
        select
            (select
                 count(an.read_yn)
             from cwt_ad_notification as an
                      join cwt_notification_info as ni
                           on an.info_id = ni.id
             where type_cd='IN01'
               and ad_mid =#{adNotificationVO.adMid}
               and read_yn='N') as countInOrd
                ,
            (select
                 count(an.read_yn)
             from cwt_ad_notification as an
                      join cwt_notification_info as ni
                           on an.info_id = ni.id
             where type_cd='OS01'
               and ad_mid =#{adNotificationVO.adMid}
               and read_yn='N') as countOutOrd
                ,
            (select
                 count(an.read_yn)
             from cwt_ad_notification as an
                      join cwt_notification_info as ni
                           on an.info_id = ni.id
             where type_cd='UFOT'
               and ad_mid =#{adNotificationVO.adMid}
               and read_yn='N') as countUnFinishOut
                ,
            (select
                 count(an.read_yn)
             from cwt_ad_notification as an
                      join cwt_notification_info as ni
                           on an.info_id = ni.id
             where type_cd='JOIN'
               and ad_mid =#{adNotificationVO.adMid}
               and read_yn='N') as countJoin
    </select>

    <select id="selectInOrdNotificationList" parameterType="AdNotificationVO" resultType="NotificationListDTO">
        select
            an.id as id,
            ni.create_dt as createDt,
            ni.content as content,
            an.read_yn as readYn,
            ni.type_cd as typeCd
        from cwt_ad_notification as an
                 join cwt_notification_info as ni
                      on an.info_id = ni.id
        where ad_mid =#{adNotificationVO.adMid}
          and ni.type_cd ='IN01'
        order by an.read_yn, ni.create_dt desc;
    </select>

    <select id="selectOutOrdNotificationList" parameterType="AdNotificationVO" resultType="NotificationListDTO">
        select
            an.id as id,
            ni.create_dt as createDt,
            ni.content as content,
            an.read_yn as readYn,
            ni.type_cd as typeCd
        from cwt_ad_notification as an
                 join cwt_notification_info as ni
                      on an.info_id = ni.id
        where ad_mid =#{adNotificationVO.adMid}
          and ni.type_cd ='OS01'
        order by an.read_yn, ni.create_dt desc;
    </select>

    <select id="selectUnFinishedOutNotificationList" parameterType="AdNotificationVO" resultType="NotificationListDTO">
        select
            an.id as id,
            ni.create_dt as createDt,
            ni.content as content,
            an.read_yn as readYn,
            ni.type_cd as typeCd
        from cwt_ad_notification as an
                 join cwt_notification_info as ni
                      on an.info_id = ni.id
        where ad_mid =#{adNotificationVO.adMid}
          and ni.type_cd ='UFOT'
        order by an.read_yn, ni.create_dt desc;
    </select>

    <select id="selectJoinNotificationList" parameterType="AdNotificationVO" resultType="NotificationListDTO">
        select
            an.id as id,
            ni.create_dt as createDt,
            ni.content as content,
            an.read_yn as readYn,
            ni.type_cd as typeCd
        from cwt_ad_notification as an
                 join cwt_notification_info as ni
                      on an.info_id = ni.id
        where ad_mid =#{adNotificationVO.adMid}
          and ni.type_cd ='JOIN'
        order by an.read_yn, ni.create_dt desc;
    </select>

    <update id="updateReadYn" parameterType="AdNotificationVO">
        UPDATE cwt_ad_notification
        SET read_yn = 'Y'
        WHERE id =#{adNotificationVO.id};
    </update>

</mapper>