<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cfms.dashboard.mapper.NotificationMapper">

<!--테스트용 INSERT-->
	<insert id="insertNotificationInfo">
		/*NotificationMapper.insertNotificationInfo*/
-- 		test:: 12, IN01
		insert cwt_notification_info
			(
				cust_id,
				type_cd,
				reg_date
			)
			values
			(
				12,
				'IN01',
				now()
			);
	</insert>

</mapper>
